<h2> Add Passengers </h2>
<div class="container">

  Passenger Name: <%= ff.text_field :firstname ,placeholder: "Passenger Name"%>&nbsp;&nbsp;&nbsp;
  Mobile:<%= ff.text_field :mobile_number,placeholder: "Mobile Number" %>&nbsp;&nbsp;&nbsp;
  Gender: <%= ff.text_field :gender,placeholder: "Gender" %>&nbsp;&nbsp;&nbsp;
  Passport no: <%= ff.text_field :passport_number,placeholder: "Passport Number" %>&nbsp;&nbsp;&nbsp;<br/>

  <%= link_to "Back", root_path, class: "btn btn-warning" %></td>
   
</div>