<h2> Add Passengers </h2>
<div class="form-group row">
<label for="example-text-input" class="col-xs-3 col-form-label">
  
    <%= ff.label :firstname %></label>
    <%= ff.text_field :firstname %>
  </div>

  <div class="form-group row">
<label for="example-text-input" class="col-xs-3 col-form-label">
  
    <%= ff.label :mobile_number %></label>
    <%= ff.text_field :mobile_number %>
  </div>

  <div class="form-group row">
<label for="example-text-input" class="col-xs-3 col-form-label">
  
    <%= ff.label :gender %></label>
    <%= ff.text_field :gender %>
  </div>

  <div class="form-group row">
<label for="example-text-input" class="col-xs-3 col-form-label">
  
    <%= ff.label :passport_number %></label>
    <%= ff.text_field :passport_number %>
  </div>